#MainMenu {
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
    opacity:0;
    background:transparent;
    transition: all 0.5s;
}

.MainMenuItem {
    display:flex;
    align-items:center;
    justify-content: center;
    height:8vw;
    width:25vw;
    background:navajowhite;
    padding:4px;
    border:5px ridge grey;
    border-radius:8px;
    font-size:3vw;
    font-family: Arvo;
    text-align:center;
    text-shadow: 2px 2px 4px black,
    2px 2px 4px black,
    2px 2px 4px black,
    2px 2px 4px black;
    color: white;
    transition:all 0.5s;
}

.MainMenuItem:hover {
    background:antiquewhite;
    border-color:lightgrey;
    cursor:pointer;
}